body {
  font-family: sans-serif;
  margin: 0;
}

#heading {
  display: flex;
  align-items: flex-start;
  background-color: black;
}

#heading #navLink {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

#heading a {
  padding: 10px;
  text-decoration: none;
  color: white;
}

#heading img {
  display: flex;
  justify-content: flex-start;
  width: 200px;
}
