body {
  font-family: sans-serif;
  margin: 0;
  background-color: grey;
}

#imgNav {
  margin: -5px;
}

#heading {
  display: flex;
  align-items: flex-start;
  background-color: black;
}

#heading #navLink {
  display: flex;
  flex-direction: row;
  align-self: center;
}

#heading a {
  padding: 10px;
  text-decoration: none;
  color: white;
  font-family: monospace;
}

#heading img {
  display: flex;
  justify-content: flex-start;
  width: 200px;
}

#content {
  display: flex;
  justify-content: center;
}

#imgContent {
  background-image: url("images/school.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  height: 600px;
  width: 1000px;
  margin: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#textContent {
  display: flex;
  background-color: rgb(0, 0, 0, 0.4);
  color: white;
  font-family: monospace;
  font-size: 18px;
  margin: 80px;
  margin-top: 0px;
  margin-bottom: 0px;
}
